.container {
  margin: 0 auto;
  max-width: $width-content;
}

//---------------------------
// Header
//---------------------------
.masthead {
  color: $color-text-light;
  font-size: 1rem;
  margin-bottom: 0;

  @media (min-width: $screen-small) {
    padding-top: 1rem;
    text-align: right;
  }
}

.masthead:after {
  background-color: $color-grey-lighter;
  content: "";
  display: block;
  height: 1px;
  margin: 3rem auto;
  width: 100px;
}

.masthead-nav ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.masthead-nav li {
  display: inline-block;
}

.masthead-nav li + li {
  margin-left: .5rem;
}

.masthead-title {
  @media (min-width: $screen-small) {
    float: left;
  }
}

//---------------------------
// Footer
//---------------------------
.body:after {
  background-color: $color-grey-lighter;
  content: "";
  display: block;
  height: 1px;
  margin: 3rem auto;
  width: 100px;
}

.footer {
  font-size: 90%;
  text-align: center;
}

//---------------------------
// Listing
//---------------------------
.listing {
  margin-bottom: 3rem;
}

.listing-item {
  margin-bottom: 1rem;
  overflow: auto;

  @media (min-width: $screen-small) {
    margin-bottom: .5rem;
  }
}

.listing-item + h2 {
  margin-top: 2rem;
}

.listing-date {
  color: $color-date;
  display: block;
  margin-bottom: 0;
  margin-top: 0;

  @media (min-width: $screen-small) {
    float: right;
    margin-left: 1rem;
  }
}

//---------------------------
// Post
//---------------------------
.post {
  margin-bottom: 4rem;
  position: relative;
}

.post img,
.post iframe {
  max-width: 100%;
}

.post iframe {
  margin-bottom: 1rem;
}

.post-date {
  color: $color-date;
  display: block;
  font-size: .85rem;
  margin-bottom: 1rem;
}

//---------------------------
// Page
//---------------------------
.page-title {
  margin-bottom: 2rem;
}

.page-content > p:first-child {
  font-size: 1.25rem;
}

//---------------------------
// Tags
//---------------------------
.tag {
  background-color: $color-grey-lighter;
  border-bottom: none !important;
  border-radius: 3px;
  color: $color-text;
  font-size: .85rem;
  padding: .3rem .6rem;
}

.tag:hover {
  background-color: $color-grey-light;
  border-bottom: none !important;
}

.tag .count {
  color: $color-theme;
  font-size: .7rem;
  vertical-align: super;
}

.tag-list {
  display: block;
  padding-left: 0;
}

.tag-list li {
  display: inline-block;
  line-height: 2em;
  margin-bottom: 0;
  margin-right: .25rem;
  white-space: nowrap; // prevent counts breaking to a new line
}
