.container {
  margin: 0 auto;
  max-width: 32rem;
}

//---------------------------
// Header
//---------------------------
.masthead {
  color: #777;
  font-size: 1rem;
  margin-bottom: 0;

  @media (min-width: 34em) {
    padding-top: 1rem;
    text-align: right;
  }
}

.masthead:after {
  background-color: #eee;
  content: "";
  display: block;
  height: 1px;
  margin: 3rem auto;
  width: 100px;
}

.masthead-nav ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.masthead-nav li {
  display: inline-block;
}

.masthead-nav li + li {
  margin-left: .5rem;
}

.masthead-title {
  @media (min-width: 34em) {
    float: left;
  }
}

//---------------------------
// Footer
//---------------------------
.body:after {
  background-color: #eee;
  content: "";
  display: block;
  height: 1px;
  margin: 3rem auto;
  width: 100px;
}

.footer {
  font-size: 90%;
  text-align: center;
}

//---------------------------
// Listing
//---------------------------
.listing {
  margin-bottom: 3rem;
}

.listing-item {
  margin-bottom: 1rem;
  overflow: auto;

  @media (min-width: 34rem) {
    margin-bottom: .5rem;
  }
}

.listing-date {
  color: #ccc;
  display: block;
  margin-bottom: 0;
  margin-top: 0;

  @media (min-width: 34rem) {
    float: right;
    margin-left: 1rem;
  }
}

//---------------------------
// Post
//---------------------------
.post {
  margin-bottom: 4rem;
  position: relative;
}

.post img,
.post iframe {
  max-width: 100%;
}

.post iframe {
  margin-bottom: 1rem;
}

.post-date {
  color: #ccc;
  display: block;
  margin-bottom: 1rem;
}

//---------------------------
// Page
//---------------------------
.page {
  padding-bottom: 4rem;
}

.page-title {
  margin-bottom: 2rem;
}

.page-content > p:first-child {
  font-size: 1.25rem;
}
