// Text
$font-main: Georgia, Cambria, "Times New Roman", Times, serif !default;
$font-mono: Menlo, Monaco, Consolas, "Andale Mono", "Lucida Console", "Courier New", monospace !default;
$font-headings: $font-main !default;
$font-tags:     $font-main !default;

$base-font-size:   21px !default;
$small-font-size:  16px !default;
$base-line-height: 1.5  !default;

$heading-line-height: 1.1 !default;

$base-letter-spacing:    normal     !default;
$heading-letter-spacing: -0.025rem  !default;

// Colours
$color-background:     #fff    !default;
$color-text:           #444    !default;
$color-text-dark:      #222    !default;
$color-text-light:     #666    !default;
$color-text-lighter:   #999    !default;
$color-grey-light:     #ddd    !default;
$color-grey-lighter:   #eee    !default;
$color-grey-lightest:  #f5f5f5 !default;

$color-link:           $color-text-dark    !default;
$color-link-hover:     #000                !default;
$color-link-underline: $color-grey-light   !default;
$color-mono:           #2aa198             !default;
$color-date:           $color-text-lighter !default;

// Break points
$screen-medium: 48rem !default;
$screen-small:  34rem !default;
$width-content: 32rem !default;

@import
  "bland/reset",
  "bland/base",
  "bland/layout",
  "bland/syntax-highlighting"
;
