---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header>
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <span class="post-date">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date:"%b %-d, %Y" }}
      </time>
    </span>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if page.tags %}
    {% assign tag_page = site.tag_page | default: '/tags/' | relative_url %}
    <ul class="tag-list">
      {% for tag in page.tags %}
      <li><a href="{{ tag_page }}#{{ tag }}" class="tag">{{ tag }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

</article>
