---
layout: default
---

{% assign sorted_tags = site.tags | sort %}

<div class="listing">

  {{ content }}

  <ul class="tag-list">
    {% for tag in sorted_tags %}
      <li>
        <a href="#{{ tag[0] }}" class="tag">
          {{ tag[0] }} <span class="count">{{ tag[1].size }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>

  {% assign date_format = site.listing_date_format | default:site.date_format | default:"%-d %B %Y" %}
  {% for tag in sorted_tags %}
    {% assign t = tag | first %}
    {% assign posts = tag | last %}

    <h2 id="{{ t | lowercase }}">{{ t | titlecase }}</h2>

    {% for post in posts %}
      <div class="listing-item">
        <span class="listing-date">{{ post.date | date:date_format }}</span>
        <a class="listing-title" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </div>
    {% endfor %}
  {% endfor %}

</div>
